---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>My Astro blog</title>
  </head>
  <body>
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/blog/">Blog</a>
    <h1>About Me</h1>
    <h2>... and my Astro blog!</h2>
    <p>
      Built while following the Astro tutorial at <a
        href="https://docs.astro.build/en/tutorial/">docs.astro.build</a
      >.
    </p>
  </body>
</html>
