---
import BaseLayout from "../layouts/BaseLayout.astro";
const allPosts = await Astro.glob("./posts/*.md");

const pageTitle = "My Astro blog";
---

<BaseLayout pageTitle={pageTitle}>
  <p>Come back soon for more content!</p>
  <ul>
    {
      allPosts.map(({ frontmatter, url }) => (
        <li>
          <a href={url}>{frontmatter.title}</a>
        </li>
      ))
    }
  </ul>
</BaseLayout>
